{{!-- {{> header}} --}}
<p>Eto kunwari homepage ni wilbert <br>
blah blah blah
blah blah blah
blah blah blah <br>
blah blah blah <br>
blah blah blah
blah blah blah
blah blah blah <br>
blah blah blah <br>
blah blah blah
blah blah blah
blah blah blah <br>
blah blah blah <br>
</p>
<div class="p_row">
  <center><a href="/view-establishment"><button type="button">Register</button></a></center>
</div>
{{> footer}}
